.deadmouse-highlighted, .deadmouse-clicked {
  border-radius: 5px !important;
  box-shadow: 0px 1px 4px #ccc !important;
}

.deadmouse-highlighted {
  background-color: yellow !important;
  color: #333 !important;
}  

.deadmouse-clicked {
  background-color: #7FAF1B !important;
  color: #ccc !important;
}
