.deadmouse-focused {
  display: inline-block;
  -webkit-animation: wiggle 0.5s infinite;
}

.deadmouse-clicked {
  position: relative;
  -webkit-animation: bounce 0.5s infinite;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(4deg);}
  50% {-webkit-transform:rotate(-4deg);}
  100% {-webkit-transform:rotate(4deg);}
}

@-webkit-keyframes bounce {
  0%   { top: 0px;  }
  50%  { top: -3px; }
  100% { top: 0px;  }
}