.deadmouse-highlighted, .deadmouse-clicked {
  border-radius: 5px !important;
  box-shadow: 0px 1px 4px #666 !important;
}

.deadmouse-highlighted {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFA00), to(#DDD911)) !important;
}  

.deadmouse-highlighted, .deadmouse-highlighted * {
  color: #333 !important;
  text-shadow: none;
}

.deadmouse-focused {
  box-shadow: 0px 1px 15px #333 !important;
}  

.deadmouse-clicked {
  background: -webkit-gradient(linear, left top, left bottom, from(#A8F445), to(#97E334)) !important;
  box-shadow: 0px 1px 15px #666 !important;
}

.deadmouse-clicked, .deadmouse-clicked * {
  color: #fff !important;
  text-shadow: none;
}
